# Don't change this, it tells everything what this specifies
[Desktop Entry]

# Program name
Name=Rayscenes test

# Executable, should be exact
Exec=/opt/raysceneTest/main

# Icon, should be exact
Icon=/opt/raysceneTest/icon.ico

# Unless this is a terminal app, leave true
Terminal=false

# Don't change, this is an application
Type=Application